#Server Configuration
PORT=3000
NODE_ENV=development
LOG_LEVEL=info

#Database Configuration
DATABASE_URL=YOUR_OWN_NEON_DATABASE_URL_HERE
JWT_SECRET=YOUR_SECRET_KEY_HERE
ARCJET_KEY=YOUR_ARCJET_KEY_HERE